pandas==2.2.0
smartapi-python
websocket-client
pyotp
xgboost==2.0.3
catboost==1.2.3
scikit-learn==1.4.0
lightgbm==4.3.0
tensorflow==2.19.1
streamlit==1.32.0
loguru
python-dotenv
requests
schedule
pytz
scipy
joblib
matplotlib
